services:
    mongo:
        image: mongo:7
        container_name: taskboards-mongo
        ports:
            - "27017:27017"
        volumes:
            - mongo_data:/data/db

    backend:
        build:
            context: ./backend
            dockerfile: Dockerfile
        container_name: taskboards-backend
        depends_on:
            - mongo
        environment:
            PORT: 3000
            MONGO_URI: mongodb://mongo:27017/task_boards
            NODE_ENV: production
        ports:
            - "3000:3000"

volumes:
    mongo_data:
